// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588s-orangepi-5.dts"

/ {
	model = "IEEKER 5B";
	compatible = "rockchip,rk3588s-orangepi-5", "rockchip,rk3588";
};

&sdhci {
	status = "okay";
};

&sfc {
	status = "disabled";
};

&wireless_bluetooth {
	status = "okay";
};

&wireless_wlan {
	status = "okay";
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_miim
	             &gmac1_tx_bus2
	             &gmac1_rx_bus2
	             &gmac1_rgmii_clk
	             &gmac1_rgmii_bus>;

	tx_delay = <0x42>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};